/*https://www.cssmatic.com/es/gradient-generator#'\-moz\-linear\-gradient\%28\-45deg\%2C\%20rgba\%2847\%2C60\%2C121\%2C1\%29\%200\%25\%2C\%20rgba\%2847\%2C60\%2C121\%2C1\%29\%209\%25\%2C\%20rgba\%2873\%2C155\%2C234\%2C1\%29\%2096\%25\%2C\%20rgba\%2873\%2C155\%2C234\%2C1\%29\%20100\%25\%29\%3B'

*/

#primero {
    height: 150px;
    background: rgba(47, 60, 121, 1);
    background: -moz-linear-gradient(-45deg, rgba(47, 60, 121, 1) 0%, rgba(47, 60, 121, 1) 9%, rgba(73, 155, 234, 1) 96%, rgba(73, 155, 234, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(47, 60, 121, 1) 0%, rgba(47, 60, 121, 1) 9%, rgba(73, 155, 234, 1) 96%, rgba(73, 155, 234, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(47, 60, 121, 1) 0%, rgba(47, 60, 121, 1) 9%, rgba(73, 155, 234, 1) 96%, rgba(73, 155, 234, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(47, 60, 121, 1) 0%, rgba(47, 60, 121, 1) 9%, rgba(73, 155, 234, 1) 96%, rgba(73, 155, 234, 1) 100%);
    background: linear-gradient(135deg, rgba(47, 60, 121, 1) 0%, rgba(47, 60, 121, 1) 9%, rgba(73, 155, 234, 1) 96%, rgba(73, 155, 234, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2f3c79', endColorstr='#499bea', GradientType=1);
}

#trasCarrousesl {
    background-color: #DDE0EF;
    margin-bottom: 20px;
    margin-top: 10px;
}

#blanco {
    background-color: white;
}

#user {
    color: #428bca;
    height: 25px;
    font-weight: 1000;
}

#p1 {
    padding-top: 10px;
    padding-left: 160px;
    color: white;
    font-size: xx-small;
}

#p1-1 {
    color: white;
    font-size: xx-small;
    font-weight: bold;
}

#p2 {
    padding-left: 170px;
    color: white;
    font-size: x-large;
}

#p3 {
    padding-left: 170px;
    color: white;
    font-size: small;
}

#botonSebas {
    background-color: white;
    border-radius: 10%;
}

#nav2 {
    background-color: #DDE0EF;
}

#fondo {
    background-color: #DDE0EF;
    height: 100%;
}

#cardIz {
    margin-right: 500px;
}

#tabla {
    background-color: white;
}

#body {
    background-color: #DDE0EF;
}

#primernav {
    background-color: white;
    
}

#programa1 {
    background: rgba(55, 153, 179, 1);
    background: -moz-linear-gradient(-45deg, rgba(55, 153, 179, 1) 4%, rgba(54, 145, 170, 1) 19%, rgba(52, 134, 157, 1) 41%, rgba(44, 107, 125, 1) 83%, rgba(44, 107, 125, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(55, 153, 179, 1) 4%, rgba(54, 145, 170, 1) 19%, rgba(52, 134, 157, 1) 41%, rgba(44, 107, 125, 1) 83%, rgba(44, 107, 125, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(55, 153, 179, 1) 4%, rgba(54, 145, 170, 1) 19%, rgba(52, 134, 157, 1) 41%, rgba(44, 107, 125, 1) 83%, rgba(44, 107, 125, 1) 100%);
    background: linear-gradient(135deg, rgba(55, 153, 179, 1) 4%, rgba(54, 145, 170, 1) 19%, rgba(52, 134, 157, 1) 41%, rgba(44, 107, 125, 1) 83%, rgba(44, 107, 125, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3799b3', endColorstr='#2c6b7d', GradientType=1);
    border-radius: 8%;
    color: white;
    height: 30px;
    margin-top: 15px;
    padding-top: 4px;
}

#programa2 {
    background: rgba(147, 206, 222, 1);
    background: -moz-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(183, 12, 230, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(183, 12, 230, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(183, 12, 230, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(183, 12, 230, 1) 100%);
    background: linear-gradient(135deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(183, 12, 230, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#b70ce6', GradientType=1);
    color: white;
    border-radius: 8%;
    height: 30px;
    margin-top: 15px;
    padding-top: 4px;
}

#programa3 {
    background: rgba(202, 235, 14, 1);
    background: -moz-linear-gradient(-45deg, rgba(202, 235, 14, 1) 0%, rgba(202, 235, 14, 1) 4%, rgba(117, 189, 209, 1) 50%, rgba(147, 206, 222, 1) 83%, rgba(147, 206, 222, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(202, 235, 14, 1) 0%, rgba(202, 235, 14, 1) 4%, rgba(117, 189, 209, 1) 50%, rgba(147, 206, 222, 1) 83%, rgba(147, 206, 222, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(202, 235, 14, 1) 0%, rgba(202, 235, 14, 1) 4%, rgba(117, 189, 209, 1) 50%, rgba(147, 206, 222, 1) 83%, rgba(147, 206, 222, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(202, 235, 14, 1) 0%, rgba(202, 235, 14, 1) 4%, rgba(117, 189, 209, 1) 50%, rgba(147, 206, 222, 1) 83%, rgba(147, 206, 222, 1) 100%);
    background: linear-gradient(135deg, rgba(202, 235, 14, 1) 0%, rgba(202, 235, 14, 1) 4%, rgba(117, 189, 209, 1) 50%, rgba(147, 206, 222, 1) 83%, rgba(147, 206, 222, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#caeb0e', endColorstr='#93cede', GradientType=1);
    color: white;
    border-radius: 8%;
    height: 50px;
    margin-top: 15px;
    padding-top: 4px;
}

#programa4 {
    background: rgba(132, 46, 245, 1);
    background: -moz-linear-gradient(-45deg, rgba(132, 46, 245, 1) 0%, rgba(140, 56, 240, 1) 6%, rgba(209, 143, 190, 1) 60%, rgba(205, 135, 186, 1) 67%, rgba(191, 110, 174, 1) 89%);
    background: -webkit-linear-gradient(-45deg, rgba(132, 46, 245, 1) 0%, rgba(140, 56, 240, 1) 6%, rgba(209, 143, 190, 1) 60%, rgba(205, 135, 186, 1) 67%, rgba(191, 110, 174, 1) 89%);
    background: -o-linear-gradient(-45deg, rgba(132, 46, 245, 1) 0%, rgba(140, 56, 240, 1) 6%, rgba(209, 143, 190, 1) 60%, rgba(205, 135, 186, 1) 67%, rgba(191, 110, 174, 1) 89%);
    background: -ms-linear-gradient(-45deg, rgba(132, 46, 245, 1) 0%, rgba(140, 56, 240, 1) 6%, rgba(209, 143, 190, 1) 60%, rgba(205, 135, 186, 1) 67%, rgba(191, 110, 174, 1) 89%);
    background: linear-gradient(135deg, rgba(132, 46, 245, 1) 0%, rgba(140, 56, 240, 1) 6%, rgba(209, 143, 190, 1) 60%, rgba(205, 135, 186, 1) 67%, rgba(191, 110, 174, 1) 89%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#842ef5', endColorstr='#bf6eae', GradientType=1);
    color: white;
    border-radius: 8%;
    height: 50px;
    margin-top: 17px;
    padding-top: 4px;
}

#cab {
    font-weight: bold;
    font-size: small;
    padding-top: 10px;
}

#creditos {
    font-size: smaller;
    padding-top: 10px;
}

#logofin {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tabla1 {
    padding-top: 10px;
    padding-right: 10px;
    border-bottom-width: 10px;
    border-color: #DDE0EF;
    background-color: white;
    font-weight: bold;
    padding-bottom: 10px;
}

#tabla {
    padding-top: 20px;
    background-color: white;
    padding-bottom: 10px;
    font-weight: bold;
}

#ia {
    font-weight: normal;
    color: #635A5A;
    
}

#letrafoot {
    padding-top: 20px;
}

#apple {
    height: 50px;
    padding-top: 15px;
}

#google {
    padding-top: 15px;
    height: 50px;
}

#footer {
    padding-top: 20px;
}

#espacio {
    background-color: #DDE0EF;
    height: 30px;
}

#espacio2 {
    background-color: #DDE0EF;
    height: 10px;
}

#fondoblanco {
    font-size: small;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

#linea {
    color: "#DDE0EF";
    size: 1px;
    width: "100%";
    margin-bottom: 5px;
    margin-bottom: 5px;
}

#titulos {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: x-large;
    color: #635A5A;
}

#titulofinal {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 100px;
    font-size: x-large;
}

#letrasdes {
    font-weight: bold;
    color: black;
}

#nav2 {
    padding-top: 1px;
    padding-bottom: 1px;
}

#botones {
    margin-top: 10px;
}

#botonesp {
    font-size: small;
    padding-top: 10px;
}

#title {
    margin-top: 20px;
    font-weight: bold;
    padding-left: 210px;
}

#card {
    background-color: white;
    height: 200px;
    width: 20%;
}
#cardimg{
    margin-left: 250px;
}
